.main {
  min-height: 100vh;
}

.main .register-step1 {
  margin-top: 60px;
  background-color: #fff;
  max-width: 375px;
  border-radius: 4px;
  border: solid 1px #e6e6e6;
}

.main .register-step1 .register-step1-header {
  background-color: #f2f3f4;
  min-height: 90px;
}

.main .register-step1 .register-step1-header .wizard {
  counter-reset: stepNo;
  display: -ms-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 21px;
}

.main .register-step1 .register-step1-header .wizard .wizard-step {
  -ms-flex: 1 0 0px;
  -webkit-box-flex: 1;
          flex: 1 0 0px;
  list-style: none;
  padding: 0 2% 0 0;
  position: relative;
}

.main .register-step1 .register-step1-header .wizard .wizard-step:before {
  border-top: 1px solid #dadada;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 30px;
}

.main .register-step1 .register-step1-header .wizard .wizard-step:last-child {
  border: 0;
  margin: 0;
  padding: 0;
}

.main .register-step1 .register-step1-header .wizard .wizard-step:last-child:before {
  border: 0;
}

.main .register-step1 .register-step1-header .wizard .wizard-step .wizard-step-link {
  margin-top: 18px;
  text-align: left;
  color: #ff5722;
  display: block;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  z-index: 10;
}

.main .register-step1 .register-step1-header .wizard .wizard-step .wizard-step-link:before {
  background: #ff5722;
  color: #fff;
  counter-increment: stepNo;
  content: counter(stepNo);
  display: block;
  font-size: 12px;
  line-height: 27px;
  margin-bottom: 12px;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.main .register-step1 .register-step1-header .wizard .wizard-step .wizard-step-link-2 {
  margin-top: 18px;
  text-align: left;
  color: #b9b7b7;
  display: block;
  font-size: 12px;
  font-weight: bold;
  position: relative;
  text-decoration: none;
  z-index: 10;
}

.main .register-step1 .register-step1-header .wizard .wizard-step .wizard-step-link-2:before {
  background: #b9b7b7;
  color: #fff;
  counter-increment: stepNo;
  content: counter(stepNo);
  display: block;
  font-size: 12px;
  line-height: 27px;
  margin-bottom: 12px;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.main .register-step1 .register-step1-content .detil-order {
  font-size: 20px;
  text-align: left;
  color: #333333;
}

