.register-confirmation{
    background: url('/img/starbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    @media screen and (max-width: 767px) {
        padding: 0px;
        padding-top: 30px;
    }
    .alert-confirmation{
        margin-left: 15px;
        margin-right: 15px;
    }
    .header{
        >img{
            margin-bottom: 20px;
        }
        >.title{
            color: #FFF;
            margin-bottom: 20px;
            @media screen and (max-width: 767px) {
               font-size: 24px;
            }
        }
    }

    .container{
        &.confirmation-container{
            background: #FFF;
            padding: 30px;
            max-width: 768px;
            border-radius: 4px;
            @media screen and (max-width: 767px) {
                border-radius: 0px;
            }
        }
    }

    input[type=file]{
        width: 100%;
        max-width: 100%;
    }
}
