.donation{
    padding-top: 35px;
    padding-bottom: 70px;
    text-align: center;
    .container{
        max-width: 650px;
    }
    ul{
        &.list-group{
            text-align: left;
            img{
                max-width: 200px;
                @media screen and (max-width: 767px){
                    max-width: 100px;
                }
            }
            .img-center{
                display: table;
                width: 100%;
                height: 100%;
                .img-center-cell{
                    text-align: center;
                    display: table-cell;
                    vertical-align: middle;
                }
            }
            p{
                margin-bottom: 5px;
            }
        }
    }
}
