.form-error{
    border: 1px solid red;
}

.btn-custom {
    max-width: 327px;
    width: 100%;
    background-color: #f4511e;
    border: 1px solid #f4511e;
}

.menu{
    .btn-custom{
        margin-bottom: 10px;
    }
    .btn-logout{
        max-width: 327px;
        width: 100%;
        background-color: #fff;
        color: #f4511e;
        border: 1px solid #f4511e;
    }
}

.error{
    color: red;
    font-size: 12px;
}

.main {
  min-height: 100vh;
  .register-step1 {
    margin-top: 30px;
    background-color: #fff;
    max-width: 375px;
    margin-bottom: 30px;

    .register-step1-header {
      background-color: #f2f3f4;
      min-height: 90px;

      .wizard {
        counter-reset: stepNo;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        width: 70%;
        margin: auto;
        @media screen and (max-width: 767px){
          width: 80%;
        }

        .wizard-step {
          -webkit-flex: 1 0 0px;
          -ms-flex: 1 0 0px;
          flex: 1 0 0px;
          list-style: none;
          padding: 0 2% 0 0;
          position: relative;
          &:before {
            border-top: 1px solid #dadada;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 32px;
          }
          &:last-child {
            border: 0;
            margin: 0;
            padding: 0;
            &:before {
              border: 0;
            }
          }

          .wizard-step-link {
            margin-top: 20px;
            text-align: left;
            color: #ff5722;
            display: block;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            text-decoration: none;
            z-index: 10;
            &:before {
              background: #ff5722;
              color: #fff;
              counter-increment: stepNo;
              content: counter(stepNo);
              display: block;
              font-size: 12px;
              line-height: 27px;
              margin-bottom: 12px;
              text-align: center;
              width: 25px;
              height: 25px;
              border-radius: 50%;
            }

          }

          .wizard-caption {
            position: relative;
            left: -12px;
          }

          .wizard-step-link-2 {
            margin-top: 20px;
            text-align: left;
            color: #b9b7b7;
            display: block;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            text-decoration: none;
            z-index: 10;
            &:before {
              background: #b9b7b7;
              color: #fff;
              counter-increment: stepNo;
              content: counter(stepNo);
              display: block;
              font-size: 12px;
              line-height: 27px;
              margin-bottom: 12px;
              text-align: center;
              width: 25px;
              height: 25px;
              border-radius: 50%;
            }
          }
        }

        .wizard-step-2 {
          -webkit-flex: 1 0 0px;
          -ms-flex: 1 0 0px;
          flex: 1 0 0px;
          list-style: none;
          padding: 0 2% 0 0;
          position: relative;
          &:before {
            border-top: 1px solid #ff5722;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 32px;
          }
          &:last-child {
            border: 0;
            margin: 0;
            padding: 0;
            &:before {
              border: 0;
            }
          }

          .wizard-step-link {
            margin-top: 20px;
            text-align: left;
            color: #ff5722;
            display: block;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            text-decoration: none;
            z-index: 10;
            &:before {
              background: #ff5722;
              color: #fff;
              counter-increment: stepNo;
              content: counter(stepNo);
              display: block;
              font-size: 12px;
              line-height: 27px;
              margin-bottom: 12px;
              text-align: center;
              width: 25px;
              height: 25px;
              border-radius: 50%;
            }

          }

          .wizard-caption {
            position: relative;
            left: -12px;
          }

          .wizard-step-link-2 {
            margin-top: 20px;
            text-align: left;
            color: #b9b7b7;
            display: block;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            text-decoration: none;
            z-index: 10;
            &:before {
              background: #b9b7b7;
              color: #fff;
              counter-increment: stepNo;
              content: counter(stepNo);
              display: block;
              font-size: 12px;
              line-height: 27px;
              margin-bottom: 12px;
              text-align: center;
              width: 25px;
              height: 25px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .register-step1-content {
      padding: 24px;
      border: solid 1px #e6e6e6;
      display: grid;
      .detil-order {
        font-size: 20px;
        text-align: left;
        color: #333333;
      }
      .content-header {
        padding: 16px;
        margin-bottom: 16px;
        max-width: 327px;
        min-height: 124px;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(199, 199, 199, 0.5);
        background-color: #f2f3f4;
        border: solid 1px #dadada;
        h5 {
          font-weight: 400;
          font-size: 14px;
          color: #3b3a3a;
          margin-bottom: 14px;
        }
        h3 {
          margin-bottom: 14px;
          font-size: 14px;
          font-weight: bold;
          color: #3b3a3a;
        }
        .content-header-title {
          font-weight: 400;
          font-size: 14px;
          color: #3b3a3a;
          h5 {
            margin-bottom: 5px;
          }
          ul {
            margin-bottom: 4px;
            li {
              list-style: none;
              position: relative;
              left: -38px;
            }
          }
        }
      }
      input {
        &::placeholder {
          font-size: 14px;
        }
      }
      select {
        font-size: 14px;
      }
      .label-jumlah-tiket {
        font-size: 12px;
        color: #8d8d8d;
      }
      .label-radio {
        font-size: 14px;
        color: #3b3a3a;
      }
      .form-check-inline {
        font-size: 14px;
      }
      .btn-wrapper {
        margin-top: 28px;
      }

      .kode-invoice {
        font-size: 12px;
        color: #333333;
        margin-bottom: 8px;
      }

      .register-info {
        border-bottom: solid 1px #dadada;
        margin-bottom: 14px;
        h1 {
          font-size: 12px;
          color: #a5a4a4;
        }
        h5 {
          font-size: 14px;
          color: #333333;
        }
      }

      .booking-info {
        border-bottom: solid 1px #dadada;
        margin-bottom: 14px;
        padding-bottom: 14px;
        font-size: 14px;
        .booking-info-expired {
          .text-caption {
            text-align: left;
          }

          .text-content {
            float: right;
          }
        }

      }
      .amount-total-wrapper {
        padding-top: 16px;
        margin: auto;
        .amount-total {
          h1 {
            text-align: center;
            font-size: 14px;
            color: #333333;
            font-weight: bold;
          }
          h5 {
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: #ff5722
          }
        }
      }

    }

    .register-step3-separator {
      height: 12px;
      background-color: #e6e6e6;
    }

    .register-step1-footer {
      height: 64px;
      background-color: #f2f3f4;
    }
    .upload-btn-wrapper {
      display: grid;
      cursor: pointer;
      border-radius: 4px;
      background: #f2f3f4;
      height: 164px;
      max-width: 327px;
      width: 100%;
      position: relative;
      overflow: hidden;
      border: 2px solid #ced4da;
      border-style: dashed;
      img {
        height: 164px;
        max-width: 327px;
        width: 100%;
        position: relative;
        overflow: hidden;
      }
      .label-upload {
        margin: auto;
        display: grid;
        span {
          margin: auto;
          font-size: 25px;
        }
        div {
          font-size: 14px;
          color: #888888;
        }
      }


    }

    .upload-btn-wrapper input[type=file] {
      height: 164px;
      max-width: 327px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      cursor: pointer;
    }
  }

}

.register-finish-wrapper {
  margin-top: 60px;
  display: grid;
  .register-finish {
    margin: auto;
    width: 100%;
    height: 100%;
    h1 {
      font-size: 18px;
    }
    .wrapper-logo {
      text-align: center;
      margin-top: 25px;
      margin-bottom: 25px;
    }
    p {
      max-width: 350px;
      margin: 0 auto;
      font-size: 16px;
      letter-spacing: -0.6px;
      text-align: center;
      color: #363a41;
    }
  }

}

.container-register-payment {
  background-image: url('/img/starbg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh;
  .register-payment-wrapper {
    margin-top: 60px;
    .detil-order {
      color: #fff;
      font-size: 20px;
    }

    .register-payment {
      display: grid;
      border: 1px solid #a5a4a4;
      background-color: #fff;
      border-radius: 4px;
      height: 320px;
      min-width: 290px;
      img {
        margin: auto;
      }
      .register-payment-content {
        color: black;
        margin: 0 auto;
        position: relative;
        top: -30px;
      }
    }
  }
  
}
