.main {
  min-height: 100vh;
  .register-step1 {
    margin-top: 60px;
    background-color: #fff;
    max-width: 375px;
    border-radius: 4px;
    border: solid 1px #e6e6e6;

    .register-step1-header {
      background-color: #f2f3f4;
      min-height: 90px;
      
      .wizard {
        counter-reset: stepNo;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        width: 70%;
        margin: auto;

        .wizard-step {
          -webkit-flex: 1 0 0px;
          -ms-flex: 1 0 0px;
          flex: 1 0 0px;
          list-style: none;
          padding: 0 2% 0 0;
          position: relative;
          &:before {
            border-top: 1px solid #dadada;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 32px;
          }
          &:last-child {
            border: 0;
            margin: 0;
            padding: 0;
            &:before {
              border: 0;
            }
          }

          .wizard-step-link {
            margin-top: 20px;
            text-align: left;
            color: #ff5722;
            display: block;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            text-decoration: none;
            z-index: 10;
            &:before {
              background: #ff5722;
              color: #fff;
              counter-increment: stepNo;
              content: counter(stepNo);
              display: block;
              font-size: 12px;
              line-height: 27px;
              margin-bottom: 12px;
              text-align: center;
              width: 25px;
              height: 25px;
              border-radius: 50%;
            }
            
          }

          .wizard-caption {
            position: relative;
            left: -12px;
          }

          .wizard-step-link-2 {
            margin-top: 20px;
            text-align: left;
            color: #b9b7b7;
            display: block;
            font-size: 12px;
            font-weight: bold;
            position: relative;
            text-decoration: none;
            z-index: 10;
            &:before {
              background: #b9b7b7;
              color: #fff;
              counter-increment: stepNo;
              content: counter(stepNo);
              display: block;
              font-size: 12px;
              line-height: 27px;
              margin-bottom: 12px;
              text-align: center;
              width: 25px;
              height: 25px;
              border-radius: 50%;
            }
          }
        }
      }
    }

    .register-step1-content {
      padding: 24px;
      .detil-order {
        font-size: 20px;
        text-align: left;
        color: #333333;
      }
      .content-header {
        padding: 16px;
        width: 327px;
        min-height: 124px;
        border-radius: 4px;
        box-shadow: 0 1px 3px 0 rgba(199, 199, 199, 0.5);
        background-color: #f2f3f4;
        border: solid 1px #dadada;
        h5 {
          font-weight: 400;
          font-size: 14px;
          color: #3b3a3a;
          margin-bottom: 14px;
        }
        h3 {
          margin-bottom: 14px;
          font-size: 14px;
          font-weight: bold;
          color: #3b3a3a;
        }
        .content-header-title {
          font-weight: 400;
          font-size: 14px;
          color: #3b3a3a;
          h5 {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}